.App {
  text-align: center;

}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;

}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  
}
*{
  font-family:"Calibri, sans-serif";
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
