.text-white-nav {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar-brand {
  font-size: 40px;
  font-family: "Merriweather", serif;
}
.builder {
  margin-top: -20px;
  font-size: large;
  font-family: "Merriweather", serif;
}
.navbar-brand:hover {
  color: #ff4d4d;
}

AppBar {
  background-color: rgb(0, 0, 0);
}

.sign {
  padding: 10px;
}

.sign1 {
  text-decoration: none;
}

.sign:hover {
  padding-right: 20px;
}

a {
  text-decoration: none;
}
